body {
    background-color: rgb(31, 31, 31);
    font-size: 28px;
}
.flexbox-container {
    background-color: yellow;
    display: flex;
}
.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 5px solid gray;
    background-color: beige;
}
.flexbox-item-1 {
    
    min-height: 100px;
}

.flexbox-item-2 {
    
    min-height: 200px;
}

.flexbox-item-3 {
    min-height: 300px;
}
